html,
body {
    margin: 0;
    padding: 0;
  }
  .header-container {
    position: fixed; /* Change to fixed positioning */
    top: 0; /* Position at the top */
    left: 0; /* Position at the left */
    width: 100%; /* Set width to 100% */
  }
  header {
    background-color: #fff;
    padding: 20px;
    overflow: auto; /* Add overflow property to clear floats */
    height: 60px;
  }
  nav {
    position: fixed;
    background-color: #fff; /* Changed to white */
    color: #333; /* Changed the text color */
    padding: 10px;
    text-align: center;
    display: inline-block; /* Display inline with the header */
    margin-top: 20px;
    margin-right: 60px;
  }
  nav ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    margin-left: 415px; /* Move nav bar */
    
  }
  nav ul li {
    display: inline;
    margin-right: 10px;
    padding: 20px; /* Space between subsections */
  }
  nav ul li a {
    text-decoration: none;
    color: #333;
  }
  nav a:hover {
  color: rgb(171, 167, 167); /* Set the text color when hovering over the link */
  }



  img {
    display: block;
    margin: 0 auto;
    width: 250px;
    max-width: 100%;
    height: auto;
    margin-left: 80px; /* Move the pic */
    margin-top: 160px; /* Adjust the margin-top value to create space below the header */
  }

  .text-container {
    flex-grow: 1; /* Allow text to grow and take up remaining space */
    text-align: left; 
    margin-right: 60px;
    margin-top: 150px;
   
    font-size: 12pt;
    line-height: 1.5;
  }
  
  .image-with-text {
    display: flex; 
    align-items: center; /* Center items vertically */
    justify-content: space-between;
  }
  .image-with-text img {
    margin-right: 15px; /* Adjust the margin-right value to create space between the image and text */
  }
  
  h1 {
    display: inline; /* Display inline */
    float: left; /* Move to the left */
    margin-left: 110px; /* Move 'Bingxu Li' */
  }




  section {
    /* height: 100px; */
    padding: 1px; /* Adjust padding to add spacing within the sections */
    text-align: left;
    
  }
  #Research li{
    background-color: #fff;
    margin-top: 5px; 
    margin-left: 55px; /* move list items right and left */
    line-height: 1.1;
    margin-bottom: 1px;
    font-size: 15px;
  }

  #Publication li{
    background-color: #fff;
    margin-left: 52px;
    margin-right: 60px;
    margin-top: 5px;
    font-size: 14px;
    margin-bottom: 10px;
  }

  #Contact p{
    background-color: #fff;
    margin-left: 75px;
    margin-top: 5px;
    font-size: 15px;
    margin-bottom: 20px;
  }



  #Research h2{
      font-size: 16px;
      margin-left: 75px;
      margin-top: 40px; 
      /* font-weight: normal; Remove bold style */
  }

  #Publication h2{
      font-size: 16px;
      margin-left: 75px;
      
      /* font-weight: normal; Remove bold style */
  }

  #Contact h2{
      font-size: 16px;
      margin-left: 75px;
      
      /* font-weight: normal; Remove bold style */
  }

  footer {
      font-size: 12px;
      margin-bottom: 1px;
  }